<div id="data-table">
  <%= will_paginate mines, renderer: BootstrapPagination::Rails if !search %>
  <table class="table table-striped table-hover table-condensed" id="mine-table">
  <br/>
    <thead>
      <tr>
        <th></th>
        <th>ID</th>
        <th>Name</th>
        <th>Typ</th>
        <th>Beschreibung</th>
        <th>Fotos</th>
        <th>Gesperrt</th>
        <th>Zustand</th>        
        <th>Besucht</th>
        <th></th> 
      </tr>
    </thead>

    <tbody>
      <% if mines %>
        <% mines.each do |mine| %>
          <%= render partial: "mine_table_row", locals: {mine: mine} %>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate mines, renderer: BootstrapPagination::Rails if !search %>
</div>