<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
      <div class="panel panel-primary">
        
        <div class="panel-heading">
          <h3>Papierkorb</h3>
        </div>

        <div class="panel-body">
          <div id="table">
            <%= render partial: "mine_table", locals: {mines: @mines, mode: 'paperbin'} %>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='popup'>
</div>

<script>
  enable_top_menu("system");
</script> 

