<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-12" role="main">
			<h1>User</h1>

			<%= render 'edit' %>

		</div>
	</div>
</div>
<script>
  enable_top_menu("user");
</script> 