<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bestellung <%= @order.id.to_s %> vom <%= @order.created_at.strftime("%d.%m.%Y, %H:%M:%S") %></h1>
    <p>
      Sample mail sent using smtp.
    </p>
  </body>
</html>