<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Bestellung <%= @order.id.to_s %> vom <%= @order.created_at.strftime("%d.%m.%Y, %H:%M:%S") %></h3>
    <p>
      Hallo, <br/>
      im Dateianhang die Liste der ausgewählten Koordinaten als KML-Datei zur Nutzung in Navigationsgeräten.
    </p>
    <p>Viele Grüsse,<br/>
    das Team der Untergrundkatasters</p>
    <p><h4>www.untergrundkataster.de</h4></p>
  </body>
</html>