<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-12" role="main">

			<h1>Neue GPS-Datei hochladen</h1>
			
			<%= form_for @file do |f| %>
				<div class="form-group">
	            	
	            	<div class="controls">
	                  <%= f.attachment_field :file, :class=>"input-small form-control" %>
	              	</div>
	            </div>

			  <%= f.submit "Hochladen", class: "btn btn-primary" %>
			<% end %>
		
		</div>
	</div>
</div>